---
import { Image } from 'astro:assets';
import servicesHero from '@assets/images/services/services-hero.png';
import BaseLayout from '@layouts/base-layout.astro';
import SubpageService from '@modules/services/sections/subpage-service.astro';
import SubpageExpertise from '@modules/services/sections/subpage-expertise.astro';
import OurWorks from '@components/our-works.astro';
import FormContainer from '@components/form-container.astro';
---

<script>
	import { gsap } from 'gsap';
	import { TextPlugin } from 'gsap/TextPlugin';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';
	gsap.registerPlugin(TextPlugin, ScrollTrigger);

	let panels = gsap.utils.toArray<HTMLElement>('#card');
	// we'll create a ScrollTrigger for each panel just to track when each panel's top hits the top of the viewport (we only need this for snapping)
	let tops = panels.map((panel) =>
		ScrollTrigger.create({ trigger: panel, start: 'top top' })
	);
	panels.forEach((panel, i) => {
		ScrollTrigger.create({
			trigger: panel,
			start: () =>
				panel.offsetHeight < window.innerHeight ? 'top top' : 'bottom bottom', // if it's shorter than the viewport, we prefer to pin it at the top
			pin: true,
			pinSpacing: false,
		});
	});

	const tl = gsap.timeline();

	tl.to('#service-title', {
		text: 'Strategy and Design',
		duration: 2,
		delay: 0.3,
	});
</script>

<BaseLayout>
	<section class='overflow-x-hidden'>
		<SubpageService />
		<SubpageExpertise />
		<OurWorks />
		<FormContainer />
	</section>
</BaseLayout>
