<section
	id='card'
	class='bg-accent min-h-auto -mt-24 overflow-hidden pb-[100px] relative rounded-se-[60px] rounded-ss-[60px] md:rounded-se-[100px] md:rounded-ss-[100px]'>
	<div class='absolute bg-black/60 h-full top-0 w-full'></div>
	<div class='mx-auto px-5 py-[60px] md:px-[120px] md:py-[100px]'>
		<h3
			id='target'
			class='font-[700] font-display text-[32px] text-white w-fit md:text-[53px]'>
			<span>Let's work</span>
			<span class='block'>together</span>
		</h3>

		<div class='mt-20'>
			<form
				action='/'
				class='font-display'>
				<div class='gap-x-6 gap-y-20 grid grid-cols-1 lg:grid-cols-2'>
					<div class='md:col-span-1 relative'>
						<input
							type='text'
							id='firstName'
							name='firstName'
							class='block border-b border-white mt-1 pl-2 py-4 text-white w-full focus:outline-none focus:ring-0 placeholder:text-white'
							placeholder='First Name *'
						/>
					</div>
					<div class='lg:col-span-1 relative'>
						<input
							type='text'
							id='lastName'
							name='lastName'
							class='block border-b border-white mt-1 pl-2 py-4 text-white w-full focus:outline-none focus:ring-0 placeholder:text-white'
							placeholder='Last Name *'
						/>
					</div>
					<div class='lg:col-span-1 relative'>
						<input
							type='text'
							id='email'
							name='email'
							class='block border-b border-white mt-1 pl-2 py-4 text-white w-full focus:outline-none focus:ring-0 placeholder:text-white'
							placeholder='Email Address *'
						/>
					</div>
					<div class='lg:col-span-1 relative'>
						<input
							type='text'
							id='companyName'
							name='companyName'
							class='block border-b border-white mt-1 pl-2 py-4 text-white w-full focus:outline-none focus:ring-0 placeholder:text-white'
							placeholder='Company Name *'
						/>
					</div>

					<div class='lg:col-span-2 relative'>
						<textarea
							id='message'
							name='message'
							rows={2}
							class='block border-b border-white mt-1 pl-2 py-4 text-white w-full focus:outline-none focus:ring-0 placeholder:text-white'
							placeholder='Message *'
						></textarea>
					</div>
				</div>

				<div class='mt-[94px] text-center'>
					<button
						type='submit'
						class='bg-white cursor-pointer duration-300 mx-auto py-[14px] px-[60px] relative rounded-full w-fit z-10 hover:bg-white/80'>
						Let's Connect
					</button>
				</div>
			</form>
		</div>
	</div>
</section>
