---
import { Icon } from 'astro-icon/components';
import InvertedRadCard from '@components/inverted-rad-card.astro';

const services = [
	{
		title: 'Strategy and Design',
		icon: 'arrow-right',
		list: ['Logo Design', 'Branding', 'Web Design', 'Mobile App Design'],
		image: '/hero-background.png',
	},
	{
		title: 'Coding and Implementation',
		icon: 'arrow-right',
		list: [
			'Website Development',
			'Web Application Development',
			'Mobile App Development',
			'E-Commerce',
		],
		image: '/hero-background.png',
	},
	{
		title: 'Growth and Marketing',
		icon: 'arrow-right',
		list: [
			'SEO',
			'Social Media Marketing',
			'Email Marketing',
			'Web Based Advertising',
		],
		image: '/hero-background.png',
	},
];
---

<section
	id='card'
	class='bg-primary min-h-auto -mt-24 pb-[100px] relative rounded-se-[100px] rounded-ss-[100px]'>
	<div class='mx-auto px-[120px] py-[100px]'>
		<h3
			id='target'
			class='font-[700] font-display text-[53px] text-white w-fit'>
			<span>Our</span>
			<span class="block after:text-accent after:content-['.']">
				Services
			</span>
		</h3>

		<div class='gap-8 grid grid-cols-3 mt-20'>
			{
				services.map((service) => (
					<div id='services'>
						<InvertedRadCard
							tiltEffect
							ctaHeight='60px'
							ctaWidth='80px'
							innerRadius={36}>
							<div class='backdrop-blur-lg bg-white/10 relative z-20'>
								<div class='flex flex-col gap-6 p-8'>
									<div class='flex items-center justify-between'>
										<p class='font-[700] max-w-[212px] text-2xl text-white'>
											{service.title}
										</p>
										<svg
											width='48'
											height='48'
											viewBox='0 0 48 48'
											fill='none'
											xmlns='http://www.w3.org/2000/svg'>
											<path
												fill-rule='evenodd'
												clip-rule='evenodd'
												d='M24 7.6C13.0559 7.6 4.18398 16.4719 4.18398 27.416H2.58398C2.58398 15.5883 12.1723 6 24 6C35.8278 6 45.4161 15.5883 45.4161 27.416H43.8161C43.8161 16.4719 34.9441 7.6 24 7.6Z'
												fill='#ED1C24'
											/>
											<path
												fill-rule='evenodd'
												clip-rule='evenodd'
												d='M3.38395 31.9679C4.36919 31.9679 5.1679 31.1692 5.1679 30.184C5.1679 29.1987 4.36919 28.4 3.38395 28.4C2.3987 28.4 1.6 29.1987 1.6 30.184C1.6 31.1692 2.3987 31.9679 3.38395 31.9679ZM3.38395 33.5679C5.25285 33.5679 6.7679 32.0529 6.7679 30.184C6.7679 28.3151 5.25285 26.8 3.38395 26.8C1.51505 26.8 0 28.3151 0 30.184C0 32.0529 1.51505 33.5679 3.38395 33.5679Z'
												fill='#ED1C24'
											/>
											<path
												fill-rule='evenodd'
												clip-rule='evenodd'
												d='M44.6161 31.9679C45.6014 31.9679 46.4001 31.1692 46.4001 30.184C46.4001 29.1987 45.6014 28.4 44.6161 28.4C43.6309 28.4 42.8322 29.1987 42.8322 30.184C42.8322 31.1692 43.6309 31.9679 44.6161 31.9679ZM44.6161 33.5679C46.485 33.5679 48.0001 32.0529 48.0001 30.184C48.0001 28.3151 46.485 26.8 44.6161 26.8C42.7472 26.8 41.2322 28.3151 41.2322 30.184C41.2322 32.0529 42.7472 33.5679 44.6161 33.5679Z'
												fill='#ED1C24'
											/>
											<path
												fill-rule='evenodd'
												clip-rule='evenodd'
												d='M35.1719 22.2011L24.5 9.35592L13.8281 22.2011L17.5582 34.7705H31.4418L35.1719 22.2011ZM32.6897 36.3705L37 21.8456L24.5 6.80005L12 21.8456L16.3103 36.3705H32.6897Z'
												fill='#ED1C24'
											/>
											<path
												fill-rule='evenodd'
												clip-rule='evenodd'
												d='M32.6028 36.4H16.3972C15.3752 36.4 14.5468 37.257 14.5468 38.3141C14.5468 39.3713 15.3752 40.2282 16.3972 40.2282H32.6028C33.6248 40.2282 34.4532 39.3713 34.4532 38.3141C34.4532 37.257 33.6248 36.4 32.6028 36.4ZM16.3972 34.8C14.521 34.8 13 36.3734 13 38.3141C13 40.2549 14.521 41.8282 16.3972 41.8282H32.6028C34.479 41.8282 36 40.2549 36 38.3141C36 36.3734 34.479 34.8 32.6028 34.8H16.3972Z'
												fill='#ED1C24'
											/>
											<path
												fill-rule='evenodd'
												clip-rule='evenodd'
												d='M23.8 20.8L23.8 7.80005L25.3 7.80005L25.3 20.8L23.8 20.8Z'
												fill='#ED1C24'
											/>
											<path
												fill-rule='evenodd'
												clip-rule='evenodd'
												d='M24.5 23.5797C24.9971 23.5797 25.4 23.1767 25.4 22.6797C25.4 22.1826 24.9971 21.7797 24.5 21.7797C24.0029 21.7797 23.6 22.1826 23.6 22.6797C23.6 23.1767 24.0029 23.5797 24.5 23.5797ZM24.5 25.1797C25.8807 25.1797 27 24.0604 27 22.6797C27 21.299 25.8807 20.1797 24.5 20.1797C23.1193 20.1797 22 21.299 22 22.6797C22 24.0604 23.1193 25.1797 24.5 25.1797Z'
												fill='#ED1C24'
											/>
										</svg>
									</div>
									<ul class='list-disc list-inside text-white'>
										{service.list.map((item) => (
											<li>{item}</li>
										))}
									</ul>
									<InvertedRadCard>
										<div
											class={`bg-[url(${service.image})] bg-cover bg-center min-h-[195px]`}
										/>
									</InvertedRadCard>
								</div>
							</div>
							<div
								class='bg-white cursor-pointer duration-300 flex h-10 items-center justify-center rounded-full text-black transition w-10 hover:bg-accent hover:!text-white'
								slot='cta-content'>
								<Icon name='arrow-right' />
							</div>
						</InvertedRadCard>
					</div>
				))
			}
		</div>
	</div>
</section>
