---
import OurMotto from '@components/our-motto.astro';
import Testimonials from '@components/testimonials.astro';
import Layout from '@layouts/Layout.astro';
import Hero from '@modules/about-us/sections/hero.astro';
import OurExpertise from '@modules/about-us/sections/our-expertise.astro';
---

<script>
	import { gsap } from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';
	gsap.registerPlugin(ScrollTrigger);

	let panels = gsap.utils.toArray<HTMLElement>('#card');

	// we'll create a ScrollTrigger for each panel just to track when each panel's top hits the top of the viewport (we only need this for snapping)
	let tops = panels.map((panel) =>
		ScrollTrigger.create({ trigger: panel, start: 'top top' })
	);

	panels.forEach((panel, i) => {
		ScrollTrigger.create({
			trigger: panel,
			start: () =>
				panel.offsetHeight < window.innerHeight ? 'top top' : 'bottom bottom', // if it's shorter than the viewport, we prefer to pin it at the top
			pin: true,
			pinSpacing: false,
		});
	});

	const targetText = document.querySelectorAll('#target');

	targetText.forEach((text) =>
		gsap.from(text, {
			scrollTrigger: {
				trigger: text,
				start: 'top 550px',
				end: 'bottom top',
			},
			duration: 0.8,
			opacity: 0,
			ease: 'power2.in',
			stagger: 0.05,
			x: 40,
			yoyo: true,
		})
	);
</script>

<Layout>
	<section class='bg-primary'>
		<!-- Each one of these components has id of "card" -->
		<Hero />
		<OurExpertise />
		<OurMotto bgColor='bg-primary' />
		<Testimonials />
	</section>
</Layout>
