---
import { Icon } from 'astro-icon/components';
import InvertedRadCard from '@components/inverted-rad-card.astro';
import MainTestimonialCard from '@components/main-testimonial-card';
---

<script>
	import Swiper from 'swiper';
	import { Autoplay } from 'swiper/modules';
	import 'swiper/css';
	import 'swiper/css/autoplay';

	const swiper = new Swiper('.swiper', {
		autoHeight: true,
		autoplay: {
			delay: 1000,
			disableOnInteraction: false,
		},
		rewind: true,
		speed: 600,
		spaceBetween: 32,
		modules: [Autoplay],
		breakpoints: {
			0: {
				slidesPerView: 1,
			},
			1280: {
				slidesPerView: 2,
			},
		},
	});

	const buttonNext = document.querySelector('#next-slide') as HTMLElement;
	const buttonPrev = document.querySelector('#prev-slide') as HTMLElement;
	buttonNext.addEventListener('click', () => {
		swiper.slideNext();
	});
	buttonPrev.addEventListener('click', () => {
		swiper.slidePrev();
	});
</script>

<section
	id='card'
	class='bg-secondary min-h-auto -mt-24 pb-[100px] relative rounded-se-[60px] rounded-ss-[60px] md:rounded-se-[100px] md:rounded-ss-[100px]'>
	<div class='mx-auto px-5 py-[60px] md:px-[120px] md:py-[100px]'>
		<h3
			id='target'
			class='font-[700] font-display text-[32px] text-white w-fit md:text-[53px]'>
			<span>Let’s hear what other</span>
			<span class='block'>say about us</span>
		</h3>

		<div
			class='gap-y-8 grid grid-cols-1 mt-20 md:gap-8 lg:grid-cols-2 xl:grid-cols-3'>
			<InvertedRadCard
				ctaHeight='60px'
				ctaWidth='110px'
				innerRadius={36}
				offsetX={60}>
				<div class='h-full relative z-20'>
					<MainTestimonialCard
						rating={4.5}
						client:visible={{ rootMargin: '500px' }}
					/>
				</div>

				<div
					slot='cta-content'
					class='flex gap-2'>
					<div
						id='prev-slide'
						class='bg-white cursor-pointer duration-300 flex h-10 items-center justify-center rotate-180 rounded-full text-black transform w-10 hover:bg-accent hover:text-white'>
						<Icon name='arrow-right' />
					</div>
					<div
						id='next-slide'
						class='bg-white cursor-pointer duration-300 flex h-10 items-center justify-center text-black rounded-full w-10 hover:bg-accent hover:text-white'>
						<Icon name='arrow-right' />
					</div>
				</div>
			</InvertedRadCard>
			<div class='xl:col-span-2'>
				<div class='swiper !h-full'>
					<div class='swiper-wrapper grid grid-cols-2 p-0 w-full'>
						<!-- Slides -->
						{
							Array.from({ length: 5 }).map((_, index) => (
								<div class='swiper-slide backdrop-blur-lg bg-white/10 !duration-300 font-display !h-full px-8 py-6 rounded-4xl !transition-all hover:bg-black/10 hover:!drop-shadow-lg'>
									<div class='flex flex-col h-full justify-between'>
										<Icon
											name='quote'
											class='w-20 h-20'
										/>
										<p class='mb-8 mt-8 text-[14px] text-white/87 md:mb-0 md:text-[18px]'>
											Lorem ipsum dolor sit amet consectetur, adipisicing elit.
											Beatae modi doloribus quos ad dolores similique.
										</p>
										<div class='mt-auto'>
											<h5 class='font-bold leading-8 text-[20px] text-white'>
												Client {index + 1}
											</h5>
											<p class='leading-[22px] text-[12px] text-white/60 md:text-sm'>
												Position, Company
											</p>
										</div>
									</div>
								</div>
							))
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
