---
import '@styles/global.css';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>Pixelmind</title>
	</head>
	<body>
		<slot />
		<div class='cursor-outline'></div>
		<div class='cursor-dot'></div>
	</body>
</html>

<script>
	import { gsap } from 'gsap';
	gsap.set('.cursor-dot', { scale: 0.1 });
	gsap.set('.cursor-outline', { scale: 0.5 });

	window.addEventListener('mousemove', mouseMove);

	let xCTo = gsap.quickTo('.cursor-outline', 'left', {
		duration: 0.2,
		ease: 'power3',
	});
	let yCTo = gsap.quickTo('.cursor-outline', 'top', {
		duration: 0.2,
		ease: 'power3',
	});

	let xDTo = gsap.quickTo('.cursor-dot', 'left', {
		duration: 0.6,
		ease: 'power3',
	});
	let yDTo = gsap.quickTo('.cursor-dot', 'top', {
		duration: 0.6,
		ease: 'power3',
	});

	let isVisible = false;

	function mouseMove(e: MouseEvent) {
		if (!isVisible) {
			gsap.set('.cursor-outline, .cursor-dot', { opacity: 1 });
			isVisible = true;
		}

		const cursorPosition = {
			left: e.clientX,
			top: e.clientY,
		};

		xCTo(cursorPosition.left);
		yCTo(cursorPosition.top);
		xDTo(cursorPosition.left);
		yDTo(cursorPosition.top);
	}

	let targets = gsap.utils.toArray('#target');

	let scaleAnim = gsap.timeline({ paused: true });

	scaleAnim
		.to('.cursor-outline', {
			scale: 1,
		})
		.to(
			'.cursor-dot',
			{
				scale: 1,
				duration: 0.35,
			},
			0
		);

	targets.forEach((target) => {
		(target as HTMLElement).addEventListener('mouseenter', (e) => {
			scaleAnim.play();
		});

		(target as HTMLElement).addEventListener('mouseleave', (e) => {
			scaleAnim.reverse();
		});
	});

	const targetText = document.querySelectorAll('#target');
	targetText.forEach((text) =>
		gsap.from(text, {
			scrollTrigger: {
				trigger: text,
				start: 'top 550px',
				end: 'bottom top',
			},
			duration: 0.6,
			opacity: 0,
			ease: 'power2.in',
			stagger: 0.05,
			x: 120,
		})
	);
</script>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		position: relative;
		scroll-behavior: smooth;
	}

	@media screen and (min-width: 1280px) {
		#card {
			min-height: 100vh;
		}
	}

	@media screen and (min-width: 1024px) {
		#card {
			min-height: 100vh;
		}
		.cursor-outline,
		.cursor-dot {
			opacity: 0;
		}

		.cursor-outline {
			border-radius: 50px;
			position: fixed;
			width: 80px;
			height: 80px;
			border: solid 1px #fff;
			mix-blend-mode: difference;
			pointer-events: none;
		}

		/* Visible when running fancy.js */
		.cursor-dot {
			mix-blend-mode: difference;
			border-radius: 50px;
			position: fixed;
			width: 80px;
			height: 80px;
			background-color: white;
			border: solid 1px #fff;
			pointer-events: none;
		}

		.target,
		.cursor-outline,
		.cursor-dot {
			/* needed for target (shared) */
			top: 50%;
			left: 10%;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transform: translate(-50%, -50%) rotate(0deg);
			transform: translate(-50%, -50%) rotate(0deg);
			z-index: 99999;
		}
	}
</style>
